<div class="col-xs-12">
  <div class="wine-card">
    <div class="card-title">
      <% if wine[:wine].name.length > 30 %>
        <%= wine[:wine].name.split("").first(25).join("") %>
        <span style="font-weight:100;">...</span>
      <% else %>
        <%= wine[:wine].name %>
      <% end %>
    </div>
    <div class="card-header">
      <div class="card-header-side">
        <div class="card-kpis">
          <div class="card-kpis-container">
            <div class="card-kpi card-kpi-price card-kpi-green">
              <div class="kpi-picto">
                <div class="font-awesome-circled">
                  <i class="fa fa-eur" style="font-size: 27px;"></i>
                </div>
              </div>
              <div class="kpi-text">
                <%= wine[:wine].price.round %>€
              </div>
            </div>
            <hr/>
            <div class="card-kpi card-kpi-distance card-kpi-red">
              <div class="kpi-picto">
                <div class="font-awesome-circled">
                  <i class="fa fa-map-marker" style="font-size:30px;"></i>
                </div>
              </div>
              <div class="kpi-text">
                <%= wine[:info_store][:distance] %>m
              </div>
            </div>
            <hr/>
            <div class="card-kpi card-kpi-rating card-kpi-green">
              <div class="kpi-picto">
                <div class="font-awesome-circled">
                  <i class="fa fa-heart"></i>
                </div>
              </div>
              <div class="kpi-text">
                <% if wine[:wine].external_ratings[2].nil? %>
                  'not rated'
                <% else %>
                  <%= wine[:wine].external_ratings[2].avg_rating.to_s.gsub(".",",") %>
                  <span style="font-size: 12px;"> /5</span>
                <% end %>
              </div>
            </div>
            <div class="media-query-500">
              <hr/>
              <div class="card-kpi">
                <div class="kpi-text kpi-overall">
                  <span style="font-size: 23px;"><%= wine[:score].round %>%</span>
                  <div class="media" style="line-height: 1; color: #EFEFEF;">WINE</div>
                  <div class="media" style="font-size: 34px; line-height: 1.1;">FIT</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header-side">
    <div class="card-header-side bottle-image"
      style="background-image:url(<%= wine[:wine].photo %>);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;">
    </div>
      </div>
    </div>

    <%= link_to "GO GET IT", wine_path(wine[:wine], store_id: wine[:info_store][:store].id,latitude: @latitude, longitude: @longitude), :class => "button-submit"  %>
  </div>
</div>


