<div id="back-picture" class="text-center color-background">
</div>
<div class="container" style="margin-top: -70px">
  <div class="row">
  <% @questions.each_with_index do |question, index| %>
    <div class="hide" data-type="<%= question[0].to_s %>" data-ft="<%= index+1 %>">
      <div class="col-xs-12">
        <div class="title text-center padded-1">
          <%= question[1][:question] %>
        </div>
      </div>
      <% question[1][:answers].each_with_index do |answer, index| %>
        <div class="col-xs-12">
          <div class="padded-top-bottom-xs">
            <a class="btn btn-question" data-q="<%= question[0].to_s %>"
                data-value="<%= question[1][:values][index] %>">
              <%= answer %>
            </a>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12">
        <div id ="btn-skip" class="padded-top-bottom-xs">
          <a class="btn btn-question">I don't care</a>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="text-center padded-2">
          <% (1..@questions.length).each do |i| %>
            <span class="nav-gray nav-<%= i %>"><i class="fa fa-circle"></i></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
 </div>
</div>


<%= simple_form_for @user_answer do |f| %>
  <%= f.input :color, :as => :hidden %>
  <%= f.input :meal, :as => :hidden %>
  <%= f.input :price, :as => :hidden %>
  <%= f.input :latitude, :as => :hidden %>
  <%= f.input :longitude, :as => :hidden %>
  <%= f.button :submit, :class => "hidden" %>
<% end %>

<% content_for(:after_js) do %>
  <script>


    // NOTE : DOES NOT OVERWRITE QUESTIONAIRE WHEN BACK
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success);
    } else {
      error('Geo Location is not supported');
    }

    function success(position) {
         $('#user_answer_latitude').val(position.coords.latitude);
         $('#user_answer_longitude').val(position.coords.longitude);
    }
    // on first page load removes ".hide" on first element
    $('*[data-ft="1"]').removeClass("hide");
    $('.nav-1').removeClass('nav-gray');
    $('.nav-1').addClass('nav-white');

    var questionToShow        = 1;
    var questionTotalNumber   = <%= raw @questions.length %> ;

    // next question
    $(".btn-question").click(function(e){
      // question count variable
      questionToDisplay(1);//, $(this));
      recordAnswer($(this));
      submitQuestionaire();
    })

    // back button
    $(".btn-back").click(function(){
      // question count variable
      questionToDisplay(0);
      questionToShow    += -1;
    })

    // skip question
    $("#btn-skip").click(function(){
      // question count variable
      questionToDisplay(1);
      submitQuestionaire();
    })


    function questionToDisplay(direction,button) {

      questionToShow += direction;
      console.log(questionToShow);
      // hide or show the right question
      $("*[data-ft="+ (questionToShow - 1) +"]").toggleClass("hide");
      $("*[data-ft="+ questionToShow +"]").toggleClass("hide");

      var type = $("*[data-ft="+ questionToShow +"]").attr("data-type");
      var css_class = type + "-background";

      var type_1 = $("*[data-ft="+ (questionToShow - 1) +"]").attr("data-type");
      var css_class_1 = type_1 + "-background";
      console.log(questionToShow - 1);

      $(".nav-" + questionToShow - 1).removeClass("nav-white");
      $(".nav-"+ questionToShow - 1).addClass("nav-gray");

      $(".nav-" + questionToShow).removeClass("nav-gray");
      $(".nav-" + questionToShow).addClass("nav-white");
      $(".nav-" + questionToShow).addClass("btn-back");

      $("#back-picture").removeClass(css_class_1);
      $("#back-picture").addClass(css_class);
    }


    function recordAnswer(elementClicked) {
      $this = elementClicked

      // retrieve user answer on btn click
      var answer        = $this.attr("data-value");
      var formAnswerID  = "#user_answer_"+ $this.attr("data-q") +""

      // populates form
      $(formAnswerID).val(answer);
    }

    function submitQuestionaire() {
      // on last question, submit the form
      if ((questionToShow - 1) == questionTotalNumber) {
        $("#new_user_answer").submit();
      }
    }


  </script>
<% end %>
