
<div class='overflow-hidden'>

  <div class="wrapper-transparent wrapper-margin-down">
  <div class="btn-list">
    <%= link_to '< Back', :back ,anchor: "##wine-{@wine.id}" %>
  </div>
    <div class="title-show text-center bg-alizarin">
        <h3 class="wine-name"><%= @wine.name.split("").first(30).join("") %></h3>
        <h4 class="wine-appelation"><%= @wine.appellation %></h4>
    </div>
    <div class="row">
      <div class="wrapper-info-wine">
        <div class="col-xs-6 col-md-6">
          <div class="wine-info">
            <div class="font-awesome-show-circled text-center">
              <span class="fa fa-map-marker fa-2x wine-details"></span>
            </div>
              <span class="fa-show"><%= @wine.region %></span>
          </div>

          <div class="wine-info">
            <div class="font-awesome-show-circled text-center">
              <span class="fa fa-percent fa-2x wine-details"></span>
          </div>
              <span class="fa-show"><%= @wine.alcohol_percent %> alc</span>
          </div>
        </div>
        <div class="col-xs-6 col-md-6">

          <div class="wine-info">
            <div class="font-awesome-show-circled text-center">
              <span class="fa fa-euro fa-2x wine-details"></span>
            </div>
              <span class="fa-show"><%= @wine.price %> €</span>
          </div>

          <div class="wine-info">
            <div class="font-awesome-show-circled text-center">
              <span class="fa fa-shopping-cart fa-2x wine-details"></span>
            </div>
              <span class="fa-show"><%= @wine.brand.name %></span>
          </div>
        </div>

        <!-- @store.store_schedules.where(day: Date.today.cwday).first[:start_am] -->
      </div>
    </div>
    <div class="card-map-wine-image-container img-show">
      <%= image_tag(@wine.photo) %>
    </div>

  </div>

  <div id="map-show" class="map-margin-up">
    <div id="map-filter" class="map-filter-closed"></div>
    <div id="map" style="width: 100%; height: 100vh;"></div>
  </div>

  <div id= "btn-closed" class="text-center hidden">
    <i class="fa fa-times-circle fa-3x"></i>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {

      function buildMap() {
        handler = Gmaps.build('Google');
        handler.buildMap({provider: { scrollwheel: false }, internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if(navigator.geolocation)
            navigator.geolocation.getCurrentPosition(displayOnMap);
          calcRoute();
          directionsDisplay.setMap(handler.getMap());
        });
      }

      buildMap();


      function displayOnMap(position){
        var marker = handler.addMarker({
          lat: position.coords.latitude,
          lng: position.coords.longitude
        });
       <!--  handler.map.centerOn(marker); -->
      };

      var directionsDisplay = new google.maps.DirectionsRenderer();
      var directionsService = new google.maps.DirectionsService();

      function calcRoute() {

        var origin      = new google.maps.LatLng(<%= params[:latitude] %>, <%= params[:longitude] %>);
        var destination = new google.maps.LatLng(<%= @store.latitude %>, <%= @store.longitude %>);
        var request = {
            origin:      origin,
            destination: destination,
            travelMode:  google.maps.TravelMode.WALKING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      $("#map-show").on("click", function() {
        $(this).removeClass('map-margin-up').addClass('map-margin-down');

        $('.wrapper-transparent').removeClass('wrapper-margin-down').addClass('wrapper-margin-up');
        $("#btn-closed").removeClass('hidden')
        $(".map-filter-closed").slideUp( 400,function(){
          <!-- $('.img-show').hide("slow"); -->
         <!--  $('.card-map-wine-image-container').css('background-color','$alazarin'); -->

        });

      });
      $("#btn-closed").on("click", function() {
        $("#map-show").removeClass('map-margin-down').addClass('map-margin-up');
        $("#btn-closed").addClass('hidden');
        $('.wrapper-transparent').addClass('wrapper-margin-down').removeClass('wrapper-margin-up');
        $(".map-filter-closed").slideDown( 400,function(){
         <!--  $('.card-map-wine-image-container').css('background-color','white'); -->
          <!-- $('.img-show').show("slow"); -->
        });

      });
    });
  <% end %>
<% end %>
