
<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png' %>
    <title>Hello Wine</title>
    <%= csrf_meta_tags %>

   <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="apple-touch-icon" href="../../assets/images/logo_hello_wine_iphone_icon.png">
    <link rel="apple-touch-startup-image" href="../../assets/images/logo_hello_wine_mobile.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%# render 'shared/navbar_new' unless @skip_navbard %>
    <%= render "shared/loader" %>
    <%= yield %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js" %>
    <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>

    <%= javascript_include_tag 'application' %>
    <%= yield :after_js %>
     <script>
      $( document ).ready(function() {

        // hide spinner
        $(".spinner").hide();


        // show spinner on AJAX start
        $(document).ajaxStart(function(){
          $(".spinner").show();
        });

        // hide spinner on AJAX stop
        $(document).ajaxStop(function(){
          $(".spinner").delay(3000).hide(0);
        });

      });
    </script>
  </body>
</html>

